footer {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* div {
  flex: 1;
  text-align: center;
}

div:last-child {
  flex: 2;
}
h4 {
  margin-bottom: 10px;
}
*/
